/* Enter your custom styles here */

.activeRow {
    background-color: #e1ebf3 !important;
}

.requiredField {
    color: red !important;
}

.sapMLabelRequired, .sapMLabelRequired::before {
    color: #c75858 !important;
}

.sapMDialogScroll {
    height: 98%;
}

.qtyGreen {
    background-color: #98f778;
    border-radius: 0.5rem;
    width: 99%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: white;
}
.qtyRed {
    background-color: #ff8c66;
    border-radius: 0.5rem;
    width: 99%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: white;
}

.vboxHeight > .sapMFlexItem {
    height: 100%;
}
/* .sapMFlexItem{
    height: 100%;
} */
.vboxHeight {
    height: 76%;
    padding-left: 0rem;
    padding-right: 0rem;
}

.onAddVboxHeight {
    height: 76%;
    padding-left: 0rem;
    padding-right: 0rem;
}

.detailSection {
    position: relative;
}

.addDetailSection {
    position: absolute;
    height: 100%;
}